version: "3.9"

services:
  frontend:
    container_name: event-frontned
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3090:3090"
    depends_on:
      - backend
    networks:
      - event-network

  backend:
    container_name: event-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - DB_CONNECTION_STRING=Server=mysql;Port=3306;Database=appdb;User=appuser;Password=apppass
      - REDIS_CONNECTION=redis:6379
      - JWT_SECRET_KEY=amazing_secret_key_yup_yes_abcdef123
      - RABBIT_CONNECTION=amqp://appuser:apppass@rabbitmq:5672
    ports:
      - "8090:8090"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    networks:
      - event-network

  worker:
    container_name: event-worker
    build:
      context: ./worker
      dockerfile: Dockerfile
    environment:
      - RABBIT_CONNECTION=amqp://appuser:apppass@rabbitmq:5672
      - REDIS_CONNECTION=redis:6379
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - event-network
    restart: unless-stopped

  mysql:
    container_name: event-mysql
    image: mysql:8.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - event-network

  postgresql:
    image: postgres:16
    container_name: event-psql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 3s
      retries: 20
    networks:
      - event-network

  redis:
    container_name: event-redis
    image: redis:7-alpine
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - event-network

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: event-rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: appuser
      RABBITMQ_DEFAULT_PASS: apppass
      RABBITMQ_DEFAULT_VHOST: /
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - event-network

networks:
  event-network:
    driver: bridge

volumes:
  mysql_data:
  redis_data:
  pgdata:
