root = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true

csharp_new_line_before_open_brace = all
csharp_indent_switch_labels = true

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
